:root { 
--black_900:#000000; 
--blue_gray_400:#8a8a8a; 
--gray_800:#4f4f4f; 
--blue_400:#4599e7; 
--light_blue_400:#1abcfe; 
--light_blue_400_26:#1abcfe26; 
--gray_200:#eaeaea; 
--blue_gray_400_01:#8d8d8d; 
--white_A700:#ffffff; 
--white_A700_9e:#ffffff9e; 
--gray_100:#f4f4f4; 
--teal_A400:#1fd790; 
}